.cart-container {
    margin-top: 30px;
    background-color: rgba(221, 219, 219, 0.507);
}

.cart-container .cart-men-details {
    display: flex;
}

.cart-container .cart-men-details img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 20px 20px;

}

.cart-container .cart-men-details h4 {
    font-size: 20px;
    margin-bottom: 0px;
}

.me-details {
    display: flex;
}

.me-details h2 {
    margin-left: 30px;
}

.me-details p {
    padding-left: 40px;
}

.addBreak {
    margin-left: 30px;
    margin-right: 20px;
}

.addBreak .add-break-btn button {
    border: none;
    background-color: #fff;
    font-weight: bold;
    margin-left: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s;

}

.add-break-btn button:hover {
    color: #fff;
    background-color: #ca0508;
    cursor: pointer;

}

.exercise-details {
    margin-left: 30px;
}

.exercise-details-time p {
    font-size: 18px;
}

.exercise-details-time .exercise-time,
.break-time {
    background-color: rgb(228, 224, 224);
    padding: 10px 20px;
    border-radius: 15px;
}

.activity-btn {
    margin-left: 30px;

}

.activity-btn button {
    border: none;
    background-color: #C8060C;
    color: #fff;
    border-radius: 10px;
    width: 50%;
}

.activity-btn button:hover {
    cursor: pointer;
}

.active-pop {
    margin-left: 10px;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .cart-container {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 80px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .cart-container {
        flex-direction: column-reverse;
        align-items: center;

    }

}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .cart-container {
        flex-direction: column-reverse;
        align-items: center;

    }

}