.product {
    width: 300px;
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    position: relative;

}

.product img {
    width: 270px;
    height: 120px;
    padding: 15px;
    border-radius: 20px;
}

.product-detail {
    margin-left: 15px;
}

.btn-cart {
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
    background-color: #CA0508;
    color: #fff;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    align-self: center;

}

.btn-cart:hover {
    background-color: #8e0709;
    cursor: pointer;
}